.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    padding: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 35%;
}

.complete {
    background-color: #C89B6A;
    width: 35%;
    padding: 8px;
    border-radius: 10px;
    font-size: larger;
}