.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    margin-top: 1rem;

    & h1{
        margin: 0 auto;
        text-align: center;
    }
}

.field {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 35%;
}

.complete {
    background-color: #C89B6A;
    width: 35%;
    padding: 8px;
    border-radius: 10px;
    font-size: larger;
}

.form input{
    padding: .5rem;
    border: 1px solid #2B2B2B;
    border-radius: .5rem;
}

.errorMessage{
    color: rgb(128, 0, 0);
}