.container {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 5px;
    width: 70%;
    justify-self: center;
}

.container div {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container div:nth-child(even) {
    background-color: lightgray;
}

.checkout {
    display: flex;
    justify-content: center;
}

.button {
    padding: 8px;
    margin: 10px;
    background-color: #C89B6A;
    width: 25%;
    border: none;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
    justify-self: center;
}