.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 10px;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  width: 35%;
  height: auto;
}