:root {
  --background: #ffffff;
  --foreground: #171717;
  --btn: #8F9F8A;
  --bg: #EDE6D8;
  --hg-color : #C29439;
  --dark-bg : #2B2B2B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
