:root {
    --background: #ffffff;
    --foreground: #171717;
    --btn: #8F9F8A;
    --bg: #EDE6D8;
    --hg-color: #C29439;
    --dark-bg: #2B2B2B;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    & h1 {
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--dark-bg);
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fullfill {
    background: var(--btn);
    color: var(--bg);
    padding: 1rem;
    border: none;
    border-radius: .5rem;
}

.outline {
    color: var(--btn);
    background: transparent;
    border: 1px solid var(--btn);
    border-radius: .5rem;
    padding: 1rem;
}


button:hover {
    cursor: pointer;
    opacity: .8;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}

.footer {
    text-align: center;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

/* FOOTER */
.footerContainer {
    background-color: #8F9F8A;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "nav title"
        "nav students"
        "copyright copyright"
    ;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;

    padding: 20px;

    @media (max-width: 768px) {
        grid-template-areas:
            "nav students"
            "title title"
            "copyright copyright";
    }
}

.footerTitle {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;


    }
}


.footerNav {
    grid-area: nav;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }

}

.studentsList {
    grid-area: students;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    & ul {

        text-align: left;
    }
}

.copyright {
    grid-area: copyright;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}