:root {
  --background: #ffffff;
  --foreground: #171717;
  --btn: #8F9F8A;
  --bg: #EDE6D8;
  --hg-color : #C29439;
  --dark-bg : #2B2B2B;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    
    & h1{
        font-size: 2.5rem;
        font-weight: bolder;
        color: var(--dark-bg);
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.fullfill {
    background: var(--btn);
    color: var(--bg);
    padding: 1rem;
    border: none;
    border-radius: .5rem;
}

.outline {
    color: var(--btn);
    background: transparent;
    border: 1px solid var(--btn);
    border-radius: .5rem;
    padding: 1rem;
}


button:hover {
    cursor: pointer;
    opacity: .8;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}

.footer {
    text-align: center;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}