.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.buttons,button:hover {
    cursor: pointer;
    opacity: 1;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
}

.footer {
    text-align: center;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}