.catalog {
    text-align: center;
    background-color: #C89B6A;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.product {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}