.catalog {
    text-align: center;
    background-color: #C89B6A;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter {
    padding: 1px;
    margin: 5px;
    justify-content: center;
    width: 40px;
}

.catalogButton {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
}

.product {
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.productTitle {
    font-size: x-large;
}

.productDescription {
    background-color: white;
    color: black;
}

.content {
    margin: 15px;
}

.productSingle {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    padding: 15px;
}

.cardImage {
    height: auto;
}

.productImage {
    height: auto;
}

.back {
    text-decoration: none;
    padding: 8px;
    background-color: #C89B6A;
    color: black;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
}

.productPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 15px;
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .productImage {
        width: 70%;
        height: auto;
    }

    .productSingle {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .cardImage {
        width: 70%;
        height: auto;
    }
}

.productPrice {
    color: green;
    background-color: white;
    border-radius: 3px;
}

.left {
    align-items: center;
    text-align: center;
}

.right {
    align-items: center;
    text-align: center;
}

html, body{
  margin: 0;
  padding: 0;
}